@charset "utf-8";
/* CSS Document */

/*==================================================

  ● Title //CSS名
  ○ reset.css

  ● Created Date in CSS //CSS作成日
  ○ 2010.04.12

  ● Last Update //最終更新日
  ○ 2010.04.13

  ● Created by //製作元
  ○ ROM SHARING.INC

  ● Author //著者
  ○ sho

  ● a Table of Contents //目次
  ○ reset css

==================================================*/


/*--------------------------------------------------
  ○ bnr css
--------------------------------------------------*/

#enta {
/*	position: absolute;
	top:422px;
	left:440px;
	width:330px;*/
	margin:0 0 30px 10px;
}

.m_towel{padding:0 0 5px 0;}

#enta .top-bnr-left{margin:0 0 5px 0;}
#enta .top-bnr-sp{margin:0 8px 0 0; float:left;}
