@charset "UTF-8";

/*==================================================
	
  ● Title
  ○ fonts.css
  
  ● Last Update
  ○ 2011.11.15
  
  ● a Table of Contents
  ○ Link Color
  ○ Colors
  ○ Sizes
  ○ Weights
  ○ Aligns
  ○ Indents
 
==================================================*/


body{
	/*font-family:"メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
	font-family: sans-serif;
	letter-spacing:normal;
}

/*--------------------------------------------------
  ○ Link Color
--------------------------------------------------*/



a:link{ 
	color:#302722;
	text-decoration:none;
}

a:visited{
	color:#302722;
	text-decoration:none;
}

a:hover{
	color:#302722;
	text-decoration:underline;
}

a:active{
	color:#302722;
	text-decoration:none;
}

#main_con a:link{ 
	color:#EA5283;
	text-decoration:none;
}

#main_con a:visited{
	color:#EA5283;
	text-decoration:none;
}

#main_con a:hover{
	color:#302722;
	text-decoration:none;
}

#main_con a:active{
	color:#EA5283;
	text-decoration:none;
}

/*--------------------------------------------------
  ○ Colors
--------------------------------------------------*/


.red { color:#f00; }

.blue { color:#00F; }

.pink { color:#F0F; }

.on { color:#FF0282; }



/*--------------------------------------------------
  ○ Sizes
--------------------------------------------------*/


.fs10 { font-size:10px; }
.fs11 { font-size:11px; }
.fs12 { font-size:12px; }
.fs13 { font-size:13px; }
.fs14 { font-size:14px; }
.fs15 { font-size:15px; }
.fs16 { font-size:16px; }
.fs17 { font-size:17px; }
.fs18 { font-size:18px; }
.fs19 { font-size:19px; }
.fs20 { font-size:20px; }


/*--------------------------------------------------
  ○ Weights
--------------------------------------------------*/


.bold { font-weight:bold; }
.lighter { font-weight:lighter; }


/*--------------------------------------------------
  ○ Aligns
--------------------------------------------------*/


.tleft { text-align:left; }
.tcenter { text-align:center; }
.tright { text-align:right; }


/*--------------------------------------------------
  ○ Indents
--------------------------------------------------*/


.indent1{
	text-indent:-1em;
	padding-left:1em;
}

.clear{
	clear:both;
}
