@charset "utf-8";
/* CSS Document */

/*==================================================
	
  ● Title //CSS名
  ○ reset.css
  
  ● Created Date in CSS //CSS作成日
  ○ 2010.04.12
  
  ● Last Update //最終更新日
  ○ 2010.04.13
  
  ● Created by //製作元
  ○ ROM SHARING.INC
  
  ● Author //著者
  ○ sho
  
  ● a Table of Contents //目次
  ○ reset css
 
==================================================*/


/*--------------------------------------------------
  ○ all
--------------------------------------------------*/

#all_wrap {
	background:url(../../image/bg.jpg) top left repeat;
}

#all_wrap{
	margin:0 auto;
	min-width: 930px;
    width: auto !important;
    width: 930px;
}


/*--------------------------------------------------
  ○ header
--------------------------------------------------*/


/*--------------------------------------------------
  ○ nav
--------------------------------------------------*/


/*--------------------------------------------------
  ○ contents
--------------------------------------------------*/
#contents_wrap{
	width:930px;
	margin:0 auto;
	overflow:hidden;
}

/*left_con*/

#left_con{
	width:232px;
	float:left;
	background:url(../../image/side_bg.jpg) top left no-repeat;
	padding:0;
	margin:0;
	min-height:588px;
	height: auto !important;
	height:588px;
	
}


#left_con #lcon_wrap{
	padding:255px 0 0 22px;
}

#left_con #lcon_wrap #gnav{
	padding:0;
	margin:0;
}

#left_con #lcon_wrap #gnav ul{
	padding:0;
	margin:0;
}

#left_con #lcon_wrap #gnav ul li{
	padding:0 0 10px;
	
}



/*main_con*/

#main_con{
	width:697px;
	float:left;
}

#main_top_area{
	width:665px;
	height:130px;
	margin:0 0 0 30px;
	position:relative;
}

#main_top_area h1{
	position:absolute;
	top:20px;
	left:10px;
	width:143px;
	height:92px;
}

#main_top_area h2{
	position:absolute;
	top:5px;
	left:-10px;
}


/*BTN AREA*/

#btn_area #new_member{
	position:absolute;
	top:10px;
	right:70px;
}

#btn_area #btn_login{
	position:absolute;
	top:10px;
	right:0px;
}


/*SNS*/

/*#main_top_area #sns_area{
	display:none;
}*/

#main_top_area #sns_area #fb{
	top:10px;
	right:190px;
	position:absolute;
	z-index:1000;
}

#main_top_area #sns_area #twi{
	top:10px;
	right:270px;
	position:absolute;
	z-index:1000;
}

#main_top_area #sns_area #gplus{
	top:10px;
	right:350px;
	position:absolute;
	z-index:1000;
}

html*#main_top_area #sns_area #gplus{
	display:none;
}

/*メインコンテンツ*/

#main_con_wrap{
	margin:0 0 0 55px;
	padding:10px;
	width:622px;
	background:url(../../image/con_bg.gif) top right repeat-y;
}

#con_detail {
	padding: 25px;
	background: url(../../image/bg.jpg) top left repeat;
	min-height: 400px;
}

#pagetitle {
	width: 100%;
	background: url(../../image/botted.gif) bottom left repeat-x;
	padding: 0 0 1px;
	margin: 0 0 15px;
}
	

#pagetop{
	padding:10px 0 20px 0;
	text-align:right;
	background:url(../../image/bg.jpg) top left repeat;

}
/*--------------------------------------------------
  ○ footer
--------------------------------------------------

#footer{
	clear:both;
	width:930px;
	margin:0 auto;
	padding:30px 0;
}

#fmenu{
	overflow:hidden;
}

#fmenu ul{
	zoom:1;
	overflow:hidden;
}

#fmenu ul li{
	float:left;
	padding:0 10px 0;
	border-right:1px solid #666;
}

#fmenu ul li.fst{
	padding-left:0;
}

#footer address{
	clear:both;
	padding:15px 0 0;
	font-size:11px;
}

#footer p{
	font-size:10px;

}*/