@charset "utf-8";
/* CSS Document */

/*==================================================

  ● Title //CSS名
  ○ reset.css

  ● Created Date in CSS //CSS作成日
  ○ 2010.04.12

  ● Last Update //最終更新日
  ○ 2010.04.13

  ● Created by //製作元
  ○ ROM SHARING.INC

  ● Author //著者
  ○ sho

  ● a Table of Contents //目次
  ○ reset css

==================================================*/


/*--------------------------------------------------
  ○ top css
--------------------------------------------------*/
/*　背景　*/
#home-bg {
	background:url('/img/yuiaragaki/top/top_all_bg.jpg') no-repeat top center #fff5df;
	background-size: cover;
}

#wrap-index{
	min-width:1024px;
	width:1024px;
	margin:0 auto;
}


#fcname{
  /* position:absolute;
   top:5px;
   top:15px;
   left:200px;
   left:100px;*/
   z-index:1000;
}

/*ロゴ*/
#logo {
  /*top:30px;
  height:auto;
  left:100px;
  position:absolute;*/
  z-index:1000;
}

/*グロナビ*/

#gnav {
  /*top:275px;
  left:100px;
  position:absolute;*/
  z-index:2000;
margin:0 0 0 110px;
}

#gnav p{
	padding:0 0 10px;
}


/*#nav_info {
  top:305px;
  left:100px;
  left:10%;
  position:absolute;
  z-index:2000;
}

#nav_profile {
  top:355px;
  left:100px;
  left:10%;
  position:absolute;
  z-index:1000;
}

#nav_gallery {
  top:405px;
  left:100px;
  left:10%;
  position:absolute;
  z-index:1000;
}

#nav_goods {
  top:455px;
  left:100px;
  left:10%;
  position:absolute;
  z-index:1000;
}

#nav_present {
  top:505px;
  left:100px;
  left:10%;
  position:absolute;
  z-index:1000;
}

#nav_blog {
  top:555px;
  left:100px;
  left:10%;
  position:absolute;
  z-index:1000;
}*/


/*右上ボタン*/
#btn_signup {
	top:20px;
	right:130px;
	position:absolute;
	z-index:1000
}

#btn_login {
	top:20px;
	right:55px;
	position:absolute;
	z-index:1000
}

/*バナー*/
#bnr_signup {
	top:550px;
	left:300px;
	position:absolute;
	z-index:1000
}

#bnr_present {
	top:590px;
	left:475px;
	position:absolute;
	z-index:1000
}

#bnr_goods {
	top:580px;
	left:580px;
	position:absolute;
	z-index:1000
}


/*infomation*/
#info_area {
/*left:70%;
	position:absolute;*/
	z-index:1000;
	margin: 10px 0 20px 0;
}
#info_area .info-title{
	width:350px;
	height:39px;
	background:url(/img/yuiaragaki/top/topics_bg_top.png) no-repeat left top;
}
#info_area .info-title a{display:block; padding:15px 0 0 240px;}
#info_area .info-title img:hover{opacity:0.5; filter:alpha(opacity=50); -ms-filter:"alpha(opacity=50)";}


#info_area #info_bg_btm{
	width:352px;
	padding:0 0 10px;
	margin:0;
	zoom:1;
	background:url(/img/yuiaragaki/top/topics_bg_btm.png) top left no-repeat;
}

#info_area #info_inner{
	width:340px;
	padding:5px 5px 5px;
	margin:0;
	height:350px;
	overflow:hidden;
	background:url(/img/yuiaragaki/top/topics_bg_mdl.png) top center repeat-y;
}

.info_summary{
	padding:3px 0 3px;
	background:url(/img/yuiaragaki/botted.gif) bottom left repeat-x;
	margin:0;
}

.info_day{
	width:80px;
	float:left;
	line-height:1.1;
	color:#E65282;
}

.info_title{
	width:240px;
	float:left;
	line-height:1.1;
}

.btn_info_detail{
	clear:both;
	text-align:right;
	font-size:10px;
}

.btn_info_detail a{
	padding:0 0 0 11px;
	margin:0;
	background:url(/img/yuiaragaki/top/icon_info.jpg) left 3px no-repeat;
	color:#E95383;
}

/*コピーライト*/
#copy{
	top:800px;
	left:150px;
	position:absolute;
	z-index:1000;
	font-size:11px;
}

/*SNS*/
/*#top_sns_area{
	top:50px;
	right:55px;
	position:absolute;
	z-index:1000;
}*/

#top_sns_area #fb{
	top:51px;
	right:53px;
	position:absolute;
	z-index:1000;
}

#top_sns_area #twi{
	top:50px;
	right:132px;
	position:absolute;
	z-index:1000;
}

#top_sns_area #gplus{
	top:50px;
	right:210px;
	position:absolute;
	z-index:1000;
}

html*#top_sns_area #gplus {
	display:none;
}


/*---------------------------------------------------------------------新規追加　新着情報なかの部分*/
.information{overflow-y: scroll; height:340px; width:100%;}
.information ul{margin:0; padding:0;}
.information li{border-bottom:#666 dotted 1px; margin:0 10px 10px 0; padding:5px 10px 5px 5px;}

.information .information-day{font-size:10px;}
.information .information-day span{font-size:10px; padding:1px 10px 1px 10px; margin:0 0 0 10px; /*カスタマイズ部分→*/background:#e7828f; color:#FFF; }

.information .information-title{font-weight:bold; font-size:14px; margin:5px 0 0 0;}
	.information .information-title a{text-decoration:none; /*カスタマイズ部分→*/color:#e92e86;}
	.information .information-title a:visited{text-decoration:none; /*カスタマイズ部分→*/color:#e92e86;}
	.information .information-title a:hover{text-decoration:underline; /*カスタマイズ部分→*/color:#af1b61;}

.information .information-txt{line-height:160%; margin:5px 0 0 0;}

.information .more{float:right;}
	.information .more a{display:block; font-size:12px; padding:2px 8px 0 8px; text-decoration:none; /*カスタマイズ部分→*/background:#e7828f; color:#FFF;}
	.information .more a:visited{text-decoration:none; /*カスタマイズ部分→*/color:#FFF;}
	.information .more a:hover{text-decoration:none; /*カスタマイズ部分→*/ background:#af1b61; color:#FFF;}

.information .clear{clear:both;}
.information .clear hr{display:none;}
/*---------------------------------------------------------------------/新規追加　新着情報なかの部分*/

#top-left{float:left; width:373px; margin:0; padding:10px 10px 5px 10px;}
#top-right{float:right; width:340px; padding:380px 0 0 0; position:relative;}
.cell-clear{clear:both;}
.cell-clear hr{display:none;}


#top_signup{position: absolute; right:0; top:30px;}
