<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8">
	<link rel="stylesheet" type="text/css" href="./css/yuiaragaki/common.css">
	<link rel="stylesheet" type="text/css" href="./css/yuiaragaki/top.css">
	<link rel="stylesheet" type="text/css" href="./css/yuiaragaki/bnr.css">
	<link rel="stylesheet" type="text/css" href="./css/yuiaragaki/styles.css">
	<link rel="stylesheet" type="text/css" href="./css/yuiaragaki/news.css?1461744689">
    <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>

</head>
<body>
	<div id="all-header">
		<div id="all-header-contents">
		<h1><a href="xxx.com"><img src="./image/txt_name.jpg" alt="レプロエンタテインメント" width="210" height="50"></a></h1>
		<div class="clear"><hr></div>
		</div>
	</div>
	
	<div id="all_wrap">
		<div id="contents_wrap">
			<div id="left_con">
				<div id="lcon_wrap">
					<div id="gnav">
						<ul>
							<li> <a href="/#1"> <img src="./image/nav_info_off.png" width="145" height="39" alt="INFORMATION" class="alphafilter"></a> </li>
							<li> <a href="/#1"> <img src="./image/nav_info_off.png" width="145" height="39" alt="INFORMATION" class="alphafilter"></a> </li>
							<li> <a href="/#1"> <img src="./image/nav_info_off.png" width="145" height="39" alt="INFORMATION" class="alphafilter"></a> </li>
							<li> <a href="/#1"> <img src="./image/nav_info_off.png" width="145" height="39" alt="INFORMATION" class="alphafilter"></a> </li>
							<li> <a href="/#1"> <img src="./image/nav_info_off.png" width="145" height="39" alt="INFORMATION" class="alphafilter"></a> </li>
							<li> <a href="/#1"> <img src="./image/nav_info_off.png" width="145" height="39" alt="INFORMATION" class="alphafilter"></a> </li>
						</ul>
					</div>		
				</div>				
			</div>	
			<div id="main_con">
				<div id="main_top_area">
					<h1><a href="/"><img src="./image/mini_logo.jpg" width="143" height="92" alt="yui`s Room"></a></h1>
					<h2><a href="/"><img src="./image/fcname.jpg" width="178" height="13" alt="新垣結衣オフィシャルファンクラブ"></a></h2>
				</div>	
				<div id="main_con_wrap">
					<div id="con_detail">
						<div id="pagetitle">
							<h3><img src="./image/title.jpg" width="220" height="28" alt="STAFF BLOG"></h3>
						</div>
						<div id="detail">
							<div id="information-nav">
								<ul>
									<li class="current"><a href="/news/">ALL</a></li>
									<li><a href="/news/?cat=info">インフォ</a></li>
									<li><a href="/news/?cat=info">インフォ</a></li>
									<li><a href="/news/?cat=info">インフォ</a></li>
									<li class="list-sp"><a href="/news/?cat=live_event">ライブ・イベント</a></li>
								</ul>
								<div class="clear"><hr></div>
							</div>	
							<div id="information">
								<ul>
								</ul>
							</div>	
							<div class="pageNation">
							<ul>
							<li>&lt;&lt;</li>
							<li>&lt;</li>
							<li class="current">1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
							<li>5</li>
							<li>6</li>
							<li>7</li>
							<li>8</li>
							<li>9</li>
							<li>&gt;</li>
							<li>&gt;&gt;</li>
							</ul>
							<div class="clear"><hr></div>
							</div>						
						</div>						
					</div>						
				</div>	
				<div id="pagetop">
					<a href="#top"><img src="./image/page_top_off.jpg" width="83" height="13" alt="ページトップへ"></a>
				</div>	

			</div>				
		</div>
	</div>
	
	<div id="all-foolter">
	
	</div>

	
	<script>
		$(function(){
			var data = {
					"index":1,
					"size":6
				};
			$.ajax({
			  method:"POST",
			  url: "http://www.xcwf.fun/Xcc/api/xw/getXWTitleList",
			  contentType : 'application/json',
			  dataType : "json",  
			  data:JSON.stringify(data),
			  success: function( result ) {
				for(var i = 0; i < result.length; i++){
					$("#information ul").append(getLiByTitle(result[i]));
				}
				for(var j = 0; j + result.length < 6; j++){
					$("#information ul").append(getLiByTitle(null));
				}
			  }
			});
		 
		});

		function getLiByTitle(title) {
			console.log("11111")
			var li = $("<li ></li>");
			var div1 = $("<div class=\"information-day\"></div>");
			if(title == null || title.createtime == null){
				div1.text(" ");
			}else {
				var time= formatDateTime(title.createtime);
				div1.text(time);
			}
			li.append(div1);
			if(title != null && title.label != null) {
				var labels = title.label.split(",");
				for (var j = 0; j < labels.length; j++) {
					var div2 = $("<div class=\"information-category\"></div>");
					div2.text(labels[j]);
					li.append(div2);
				}
			}
			var div3 = $("<div class=\"clear\"><hr></div>");
			var div4 = $("<div class=\"information-title\"></div>");
			var a1 = $("<a ></a>");
			if(title == null || title.label == null) {
				a1.text(" ");
			}else {
				a1.text(title.title);
			}
			div4.append(a1);
			var div5 = $("<div class=\"information-txt\"></div>");
			if(title == null || title.label == null) {
				div5.text(" ");
			}else {
				div5.text(title.content);
			}
			li.append(div3,div4,div5);
			return li;
		}

		function formatDateTime (date) {
			var time = new Date(Date.parse(date));
			time.setTime(time.setHours(time.getHours() + 8));
			var Y = time.getFullYear() + '-';
			var M = this.addZero(time.getMonth() + 1) + '-';
			var D = this.addZero(time.getDate()) + ' ';
			var h = this.addZero(time.getHours()) + ':';
			var m = this.addZero(time.getMinutes()) + ':';
			var s = this.addZero(time.getSeconds());
			return Y + M + D;
		}

		// 数字补0操作
		function  addZero(num) {
			return num < 10 ? '0' + num : num;
		}

	</script>
</body>
</html>